[Unit]
Description=AdGuard Home
After=syslog.target network-online.target

[Service]
User=adguardhome
Group=adguardhome

WorkingDirectory=/var/lib/adguardhome
ExecStart=/usr/lib/bin/AdGuardHome -c /var/lib/adguardhome/AdGuardHome.yaml -s run

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
